.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home::before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.profile {
    display: flex;
    align-items: center;
    gap: 48px;
}

.profile__foto {
    filter: grayscale(100%);
}

.profile__text {
    font-size: 2.25rem;
}

.profile__name {
    font-size: 4rem;
    color: var(--primary-color);
}