    /* TABLE */
    
    @media (max-width:960px) {
        .menu {
            display: none;
        }
        .box {
            display: block;
            font-size: 2rem;
        }
        .logo {
            font-size: 2rem;
        }
        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .profile {
            display: flex;
            flex-direction: column;
        }
        .profile__text {
            font-size: 2.5rem;
        }
        .profile__name {
            font-size: 5.5rem;
        }
        .sobre-mim {
            height: auto;
            gap: 64px;
            display: grid;
            grid-template-areas: "title title" "description description" "skills skills";
            grid-template-rows: auto auto auto;
            grid-template-columns: 1fr 1fr;
        }
        .section__title {
            font-size: 8.75rem;
        }
        .description__text {
            font-size: 1.5rem;
            margin-left: 100px;
            width: 75%;
        }
        .description__title {
            margin-left: 100px;
            font-size: 3rem;
            color: var(--primary-color);
        }
        .skills {
            grid-area: skills;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-left: 100px;
        }
        .skills__title {
            font-size: 3rem;
            color: var(--primary-color);
        }
        .skills__icons {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }
        .projetos {
            height: auto;
        }
        .card-container {
            display: flex;
            flex-direction: column;
        }
        .card img {
            height: 420px;
            width: 100%;
        }
        .contato {
            height: 500px;
            display: grid;
            grid-template-areas: "title  title" "contatos  links" "social social";
            grid-template-rows: auto auto auto;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 30px;
        }
        .social__container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }