@media (max-width:640px) {
    .menu {
        display: none;
    }
    .box {
        display: block;
        font-size: 1.5rem;
    }
    .logo {
        font-size: 1.25rem;
    }
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .profile {
        display: flex;
        flex-direction: column;
    }
    .profile__foto {
        height: 150px;
        width: 150px;
    }
    .profile__text {
        font-size: 1.5rem;
    }
    .profile__name {
        font-size: 3rem;
    }
    .sobre-mim {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas: "title title" "description description" "skills skills";
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .section__title {
        font-size: 4rem;
    }
    .description__text {
        margin-left: 50px;
        font-size: 1rem;
        width: 78%;
    }
    .description__title {
        font-size: 2rem;
        color: var(--primary-color);
    }
    .skills {
        margin-left: 0;
        grid-area: skills;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .skills__title {
        margin-left: 100px;
        font-size: 2rem;
        color: var(--primary-color);
    }
    .skills__icons {
        margin-left: 50px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .skill__icon {
        width: 130px;
        height: 130px;
        font-size: 1rem;
    }
    .projetos {
        height: auto;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card img {
        height: 200px;
        width: 300px;
    }
    .contato {
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    .contato__item__text {
        font-size: 1rem;
    }
    .contato__container {
        gap: 30px;
    }
    .social__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .links__container {
        gap: 30px;
    }
}