.sobre-mim {
    max-width: 1200px;
    width: 100%;
    gap: 64px;
    display: grid;
    grid-template-areas: "title title" "description skills";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
}

.section-title {
    grid-area: title;
    font-size: 220px;
    text-align: center;
    background: linear-gradient(#999, #222);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.description {
    grid-area: description;
    background-color: lightgreen;
}

.skills {
    grid-area: skills;
    background-color: lightsalmon;
}