:root {
    --primary-color: #FEDC00;
    --icon-color: #252525;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #7FFF00;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-areas: "content";
    background-color: #000;
}

header {
    position: fixed;
    grid-area: content;
    place-self: start center;
    height: 100px;
    z-index: 666;
    max-width: 1200px;
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #25252555;
}

main {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voltar {
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: grid;
    place-content: center;
    font-size: 2.5rem;
    transition: all 0.5s;
}

.voltar:hover {
    color: var(--primary-color);
    z-index: 9999;
}

section {
    height: 100vh;
}

footer {
    width: 100%;
    grid-area: content;
    place-self: end center;
    display: grid;
    place-content: center;
    height: 50px;
    border-top: 2px solid #fff;
}